/* .bgimg {
  position: relative;
  height: 100vh;

}

.bgimg::after {
  background: url('../../../background-images/DSC02174.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.85; 
  align-content: center;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
} */
