<div class="bgimg">
  <app-navigation></app-navigation>
  <h1 class="header">megan karbowski</h1>
  <div class="about">
    <p>
      Megan Karbowski is a software developer for Arup in Los Angeles, CA. 
      She graduated from Loyola Marymount University in 2018 with a Bachelor of 
      Science in Computer Science. During her time at LMU, not only did she excel 
      in the CS program, but she participated in a variety of art classes randing 
      from print making and photography to graphic and interaction design. 
    </p>
  </div>
</div>