.header {
  color: white;
  text-align: center;
  padding: 40px;
  font-size: 36px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

p {
  width: 637px;
  text-align: center;
  font-size: 164x;
  color: rgba(255, 255, 255, 0.9);
}