<div class="about-container">
  <!-- <h1 class="header">megan charlotte karbowski</h1> -->
  <div class="about">
    <p class="p-about">
      i'm a big outdoorsy gal always looking for my next adventure. 
      i love tapping into my creative side with photography and projects with visual components.
      i do remote software development specializing in frontend and mobile development. 
      i graduated from loyola marymount university in may 2018 with a bachelors of 
      science in computer science. in search of opportunities to teach and mentor young women pursuing
      a career in computer science. 
    </p>
    <img mat-card-image
      class="headshot"
      src="../../../../assets/MKheadshot.png"
      alt="MK Headshot">
  </div>
  
</div>