<div class="about-container">
  <h1 class="header">megan charlotte karbowski</h1>
  <div class="about">
    <p class="p-about">
      hey! i'm a software developer based in denver, co. 
      i graduated from loyola marymount university in may 2018 with a bachelor of 
      science in computer science and have been a software developer and digital consultant since august 2018.
      i focus mainly on front end development and i'm drawn to all things creative!
      <br>let's connect!
    </p>
    <img mat-card-image
      class="headshot"
      src="../../../../assets/MKheadshot.png"
      alt="MK Headshot">
  </div>
  
</div>