<div>
    <div class="resume">
        <div *ngFor="let item of resume">
            <h2 class="category" id={{item.category}}> {{ item.category }} </h2>
            <div class="stack">
                <h4 *ngFor="let list of item.list" class="list">{{ list }}</h4>
            </div>
            <div class="exp-container" *ngFor="let job of item.data">
                <div class="experience">
                    <h3 class="title">{{ job.company }}</h3>
                    <h3 class="dates">{{ job.location }}</h3>
                </div>
                <div class="experience">
                    <!-- <h3 class="company">{{ job.company }},  {{ job.location }}</h3> -->
                    <h4 class="company">{{ job.title }}</h4> 
                    <h4 class="location">{{ job.dates }}</h4>
                    <!-- <p>{{ job. </p> -->
                </div>
            </div>
        </div>

    </div>
</div>