.header {
    text-align: center;
    padding: 40px;
    font-size: 38px;
    letter-spacing: 10px;
  }

.resume {
  margin: 30px;
}

.category {
  margin-bottom: 0px;
}

.list {
  padding-right: 10px;
  margin-bottom: 0px;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

@media (max-width: 820px) {
  .header {
    margin: 0px;
      }
    .resume {
    margin-top: 0px;
    }
    
    .category {
      margin-bottom: 0px;
    }
    
    .category#stack {
      margin-top: 0px;
    }
    
    .list {
      padding-right: 10px;
      margin-bottom: 0px;
    }
}