<div class="spotify-playlists">
    <iframe 
        style="border-radius:12px" 
        src="https://open.spotify.com/embed/playlist/4IXaW30d6qfrDLjrGIuv60?utm_source=generator" width="75%" height="380" 
        frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

    <iframe 
        style="border-radius:12px" 
        src="https://open.spotify.com/embed/playlist/2mEZ8xBwRxydZRerU0ymkf?utm_source=generator" width="75%" height="380" 
        frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

    <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/1Qqqefu6KLGo7g3BpjjDs4"
        width="75%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    <iframe 
        style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/60nhnugpVbkJjzjRj5w0Gy"
        width="75%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    <iframe 
        style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/1VrXyEih6axHbRP7us9gkg"
        width="75%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    <!-- <iframe 
        style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/6JmVD5Wv5lCuKtn4tgUECz"
        width="75%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->

</div>
