<div class="spotify-playlists">
    <iframe
        src="https://open.spotify.com/embed/playlist/1Qqqefu6KLGo7g3BpjjDs4"
        width="75%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    <iframe src="https://open.spotify.com/embed/playlist/60nhnugpVbkJjzjRj5w0Gy"
        width="75%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    <iframe src="https://open.spotify.com/embed/playlist/1VrXyEih6axHbRP7us9gkg"
        width="75%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    <iframe src="https://open.spotify.com/embed/playlist/6JmVD5Wv5lCuKtn4tgUECz"
        width="75%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</div>
