<!--Footer-->
<div id="footer">

  <h3 class="copyright">
    <a href="https://megan-karbowski.web.app">
      <img
        class="mck-logo"
        src="../../../../assets/mck-logo-lg.png"
        alt="mck">
    </a>
    Megan Charlotte &#169; 2021 
  </h3>

  <h3 class="social">
    <a href="https://www.linkedin.com/in/megan-karbowski/" target="_blank">
      <img
        class="icon"
        src="../../../../assets/linkedin-icon.png"
        alt="linkedin">
    </a>
    <a href="mailto:megan.karbowski4@gmail.com" target="_blank">
      <mat-icon
        class="email-icon"
        aria-hidden="false"
        aria-label="email">mail_outline
      </mat-icon>
    </a>
    <a href="https://github.com/mkarbows" target="_blank">
      <img
        class="icon"
        src="../../../../assets/github-icon.png"
        alt="github">
    </a>
    <a href="https://calendly.com/megan-karbowski/15-minute-meeting" target="_blank">
      <img
        class="icon"
        src="../../../../assets/calendly-icon.png"
        alt="calendly">
    </a>
    <a href="https://www.instagram.com/megan.karbowski/" target="_blank">
      <img
        class="icon"
        src="../../../../assets/insta-icon.png"
        alt="instagram">
    </a>
    <a href="https://open.spotify.com/user/1214414592" target="_blank">
      <img
        class="icon"
        src="../../../../assets/spotify-icon.png"
        alt="spotify">
    </a>
  </h3>

  <div style="clear: both"></div>
  
</div>