<div>
  <a href="https://megan-karbowski.web.app">
    <img
      class="mck-logo"
      src="../../../../assets/mck-white.png"
      alt="mck">
  </a>
  <a href="https://www.linkedin.com/in/megan-karbowski/" target="_blank">
    <img
      class="icon"
      src="../../../../assets/linkedin-icon.png"
      alt="linkedin">
  </a>
  <a href="mailto:megan.karbowski4@gmail.com" target="_blank">
    <mat-icon
      class="email-icon"
      aria-hidden="false"
      aria-label="email">mail_outline
    </mat-icon>
  </a>
  <a href="https://github.com/mkarbows" target="_blank">
    <img
      class="icon"
      src="../../../../assets/github-icon.png"
      alt="github">
  </a>
  <a href="https://www.instagram.com/megan.karbowski/" target="_blank">
    <img
      class="icon"
      src="../../../../assets/white-instagram.png"
      alt="instagram">
  </a>
  <a href="https://calendly.com/megan-karbowski/30min" target="_blank">
    <img
      class="icon"
      src="../../../../assets/calendly-icon.png"
      alt="calendly">
  </a>
</div>