/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: white;
  width: fit-content;
}
.mat-tab-label.mat-ripple.mat-tab-label-active {
  color: white;
  opacity: 1;
}
.mat-tab-label.mat-ripple {
  min-width: 60px;
  width: 120px;
}
.mat-tab-labels {
  justify-content: flex-end;
}