/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

@font-face {
  font-family: "Raleway";
  src: url(/src/assets/font/Raleway.ttf) format("opentype");
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Raleway", serif;
  background-position: center;
  background-image: url(./app/background-images/DSC02174.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: white;
  width: fit-content;
}
.mat-tab-label.mat-ripple.mat-tab-label-active {
  color: white;
  opacity: 1;
}
.mat-tab-label.mat-ripple {
  min-width: 60px;
  width: 120px;
}
.mat-tab-labels,
.mat-tab-link {
  justify-content: flex-end;
  font-family: "Raleway", serif;

}